* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    text-align: center;
    background-color: #111;
    width: fit-content;
    border-radius: 16px;
    padding: 16px;
    border: 1px solid #666;
}

a {
    color: dodgerblue;
    text-decoration: none;
    margin: 1em;
}

hr {
    border: 0.5px solid #555;
    line-height: 1.0;
    width: 100%;
}